*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
main{
    margin-top: 38px;
    
}
#logo{
    color: white;
    font-size: 24px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
}
a{
    color: white;
}
p{
    max-width: 540px;
}

.section1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.section1text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
}
img{
    height: 250px;
}
